# Control Flow

---

In [4]:
hungry = False
if hungry:
    print('Feed me!')
else:
    print('I do not want food.')

I do not want food.

In [5]:
loc = 'Bank'

if loc == 'Bank':
    print('Welcome to the Bank!')
elif loc=='Home':
    print('Welcome home!')
elif loc=='School':
    print('Study!')
else:
    print("I don't know much")

Welcome to the Bank!

# For Loops

Many objects in Python are _iterable_ meaning wec an **iterate over every element in the object**  
Iterable - you can iterate over the object!
String is an iterable object, so are lists!

---

In [6]:
my_iterable = ['Tejas','Sherlock','Nanny']

for name in my_iterable:
    print(name)

Tejas
Sherlock
Nanny

In [7]:
mylist = [1,2,3,4,5,6,7,8]
for num in mylist:
    if num %2 == 0:
        print(f'Even - > {num}')
    else:
        print(f'Odd -> {num}')

Odd -> 1
Even - > 2
Odd -> 3
Even - > 4
Odd -> 5
Even - > 6
Odd -> 7
Even - > 8

In [10]:
name = 'Tejas Khanna'
for letter in name:
    print(letter,end='/')

T/e/j/a/s/ /K/h/a/n/n/a/

In [11]:
#tuple
tup = (1,2,3,4,5)
for item in tup:
    print(item)

1
2
3
4
5

In [12]:
mlist = [(1,2),(121,23),(1244,234234),(123123,1231)]
len(mlist)

4

In [13]:
for item in mlist:
    print(item)

(1, 2)
(121, 23)
(1244, 234234)
(123123, 1231)

In [20]:
# Tuple Unpacking 
for (x,y) in mlist: # this is tuple unpacking
    print(x,",",y)

1 , 2
121 , 23
1244 , 234234
123123 , 1231

In [23]:
coordinates = [(1,2),(-12,232)]
for point in coordinates:
    first_ptx,first_pty = point
    print('X',first_ptx)
    print('Y',first_pty)
    print('--')

X 1
Y 2
--
X -12
Y 232
--

In [26]:
# 3D 
points = [(1,12,12),(324,34,453),(23,23,22)]

for x,y,z in points:
    print('X=',x,end='')
    print('Y=',y,end='')
    print('Z=',z,end='')

X= 1Y= 12Z= 12X= 324Y= 34Z= 453X= 23Y= 23Z= 22