# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [6]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return a if a<b else  
    else:
        return a if a>b else b

In [7]:
# More efficient way to do it!
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [5]:
# Check
lesser_of_two_evens(12,4)

4

In [6]:
# Check
lesser_of_two_evens(7,5)

7

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [13]:
def animal_crackers(text):
    if text.split()[0][0] == text.split()[1][0]:
        return True
    else:
        return False

In [21]:
# better way
def animal_crackers(text):
    return text.split()[0][0].lower() == text.split()[1][0].lower()

In [22]:
# Check
animal_crackers('Levelheaded Llama')

True

In [24]:
# Check
animal_crackers('Try tejas')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [26]:
def makes_twenty(n1,n2):
    return True if (n1+n2) == 20 or n1 == 20 or n2 == 20 else False

In [19]:
# Check
makes_twenty(20,10)

True

In [27]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [30]:
def old_macdonald(name):
    name = name.capitalize()
    new_name = name[:3] + name[3].upper() + name[4:]
    return new_name

In [31]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [22]:
def master_yoda(text):
    words = text.split()
    print(" ".join(words[::-1]))

In [24]:
# Check
master_yoda('Krishan is home now')

now home is Krishan

In [54]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [13]:
def almost_there(n):
    if abs(n-100) <= 10 or abs(n-200) <=10:
        return True
    else:
        return False

In [17]:
# Check
almost_there(90)

True

In [15]:
# Check
almost_there(150)

False

In [16]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [25]:
'''
    check till len - 1, so that the last index to be checked would be len -2  
'''
def has_33(nums):
    for i in range(len(nums) - 1): 
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [26]:
# Check
has_33([1, 3, 3])

True

In [29]:
# Check
has_33([1, 3,3,[3,3],1, 3])

True

In [27]:
# Check
has_33([3, 1, 3,10,1])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [45]:
def paper_doll(text):
    new_str = ""
    for c,x in enumerate(text):
        new_str = new_str + x*3
        print(new_str)

In [51]:
# Check
#paper_doll('Hello')

{'M', 'i', 'p', 's'}

In [47]:
# Check
paper_doll('Mississippi')

MMM
MMMiii
MMMiiisss
MMMiiissssss
MMMiiissssssiii
MMMiiissssssiiisss
MMMiiissssssiiissssss
MMMiiissssssiiissssssiii
MMMiiissssssiiissssssiiippp
MMMiiissssssiiissssssiiipppppp
MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [8]:
def blackjack(a,b,c):
    s = a + b + c
    if s <= 21:
        return s
    elif s >21 and 11 in (a,b,c):
        return s-10
    else:
        return 'BUST'

In [9]:
# Check
blackjack(5,6,7)

18

In [12]:
# Check
blackjack(11,13,13)

27

In [11]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [108]:
def summer_69(arr):
    s = 0
    i = 0
    while i<len(arr):
        if arr[i] == 6:
            while arr[i]!=9:  # pointer to remmeber where 9 is
                i+=1
            if i == len(arr) - 1:
                break
            else:
                i+=1
        s += arr[i]
        i+=1
    return s

In [111]:
# Check
summer_69([1, 3, 5])

9

In [112]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [113]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [32]:
def spy_game(nums):
    remember = [] 
    i = 0 
    while i < len(nums):
        if nums[i] == 0:
            remember.append(True)
        elif nums[i] == 0 and remember.pop() == True:
            remember.append(True)
        elif nums[i] == 7:
            if len(remember) > 0:
                if remember.pop() == True:
                    return True
        i = i + 1
    return False

In [33]:
# Check
spy_game([1,2,4,1212,1,7,5])

False

In [148]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [160]:
# Check
spy_game([1,7,2,0,4,5,0])
import random
l = [random.randint(0,10) for i in range(0,10)]
print(l)
spy_game(l)

[2, 8, 7, 0, 2, 5, 9, 3, 4, 9]

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [19]:
import math
import random 
def count_primes_upto_x(n):
    # 0 and 1 are not primes
    if n<2:
        return 0
    
    ctr = 0
    
    for num in range(2,n+1):
        
        # only stupid folks check if even numbers are prime or not!
        if num%2 == 0 and num!=2:
            continue
            
        k = 2
        is_prime = True  
        while k< num:
            if num % k ==0 :
                is_prime = False
                break
            k+=1
            
        if is_prime:
            print(num,end=',')
            ctr+=1
    print()
    return ctr


ten_random_numbers = random.sample(range(1,1000),5)
for rnum in ten_random_numbers:
    print('Primes upto {}'.format(rnum))
    print('_____________')
    print('Total: {} primes.'.format(count_primes_upto_x(rnum)))
    print('--------------')

Primes upto 197
_____________
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113,127,131,137,139,149,151,157,163,167,173,179,181,191,193,197,
Total: 45 primes.
--------------
Primes upto 787
_____________
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113,127,131,137,139,149,151,157,163,167,173,179,181,191,193,197,199,211,223,227,229,233,239,241,251,257,263,269,271,277,281,283,293,307,311,313,317,331,337,347,349,353,359,367,373,379,383,389,397,401,409,419,421,431,433,439,443,449,457,461,463,467,479,487,491,499,503,509,521,523,541,547,557,563,569,571,577,587,593,599,601,607,613,617,619,631,641,643,647,653,659,661,673,677,683,691,701,709,719,727,733,739,743,751,757,761,769,773,787,
Total: 138 primes.
--------------
Primes upto 814
_____________
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113,127,131,137,139,149,151,157,163,167,173,179,181,191,193,197,199,211,223,227,229,233,239,241,251,257,263,269,271,277,281,283,293,307,311,313,317,331,337,347,349,353,359,367,373,379,383,389,397,401,409,419,421,431,433,439,443,449,457,461,463,467,479,487,491,499,503,509,521,523,541,547,557,563,569,571,577,587,593,599,601,607,613,617,619,631,641,643,647,653,659,661,673,677,683,691,701,709,719,727,733,739,743,751,757,761,769,773,787,797,809,811,
Total: 141 primes.
--------------
Primes upto 281
_____________
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113,127,131,137,139,149,151,157,163,167,173,179,181,191,193,197,199,211,223,227,229,233,239,241,251,257,263,269,271,277,281,
Total: 60 primes.
--------------
Primes upto 590
_____________
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113,127,131,137,139,149,151,157,163,167,173,179,181,191,193,197,199,211,223,227,229,233,239,241,251,257,263,269,271,277,281,283,293,307,311,313,317,331,337,347,349,353,359,367,373,379,383,389,397,401,409,419,421,431,433,439,443,449,457,461,463,467,479,487,491,499,503,509,521,523,541,547,557,563,569,571,577,587,
Total: 107 primes.
--------------

In [100]:
# Check
#0.0005247592926025391
import time
start_time = time.time()
print(count_primes(100))
diff = time.time() - start_time
print(diff,'s')
round(123.23234234)

2 3 4 5 7 9 11 13 17 19 23 25 29 31 37 41 43 47 49 53 59 61 67 71 73 79 83 89 97 29
0.004460811614990234 s

123

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!